:root {
  --main-bc: #f5f5f5;
  --dark-bc: #272a33;
  --greyish-color: #a0a0a0;
  --header-grey-color: #666;
  --greyish-color-90: #a0a0a039;
  --orange-color: #ec5242;
  --darkgrey-color: #272a31;
  --border-color-orange: #ff4f38;
  --border-color-grey: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bc);
}

/* Fonts Styles */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.default-family {
  font-family: 'Lato', sans-serif;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-36 {
  font-size: 36px;
}

.fs-48 {
  font-size: 48px;
}

.fs-60 {
  font-size: 60px;
}

/* font color  */
.fc-greyish {
  color: var(--greyish-color);
}

.fc-dark-greyish {
  color: var(--header-grey-color);
}

.fc-orange {
  color: var(--orange-color);
}

.fc-darkgrey {
  color: var(--darkgrey-color);
}

.fc-white {
  color: #fff;
}

/* background */

.bc-white {
  background-color: #fff;
}

.bc-gray {
  background-color: var(--main-bc);
}

.bc-dark {
  background-color: var(--dark-bc);
}

/* Margin Pre-set */
.mb-1 { margin-bottom: 1rem; }

.mb-2 { margin-bottom: 2rem; }

.mr-1 { margin-right: 1rem; }

.mr-2 { margin-right: 2rem; }

.mt-1 { margin-top: 1rem; }

.mt-2 { margin-top: 2rem; }

.mt-05 { margin-top: 0.5rem; }

/* Padding Pre-set */
.pl-1 { padding-left: 1rem; }

.pt-1 { padding-top: 1rem; }

/* Display Block Pre-sets */
.d-inline-block {
  display: inline-block;
}

/* Flex-Box Pre-sets */
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-wrap {
  flex-wrap: wrap;
}

.d-reverse {
  flex-direction: row-reverse;
}

.d-column {
  flex-direction: column;
}

.d-justify-center {
  justify-content: center;
}

.d-justify-end {
  justify-content: flex-end;
}

.d-align-center {
  align-items: center;
}

.d-justify-start {
  justify-content: flex-start;
}

.d-align-start {
  align-items: flex-start;
}

.d-justify-even {
  justify-content: space-evenly;
}

.d-justify-between {
  justify-content: space-between;
}

.d-justify-around {
  justify-content: space-around;
}

/* Positions */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
